{% extends 'base.html' %}
{% load static %}

{% block title %}Parker Blume | Projects{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center mb-5 mt-5">
            <div class="tab">
                <button class="tablinks" onclick="changeTab(event, 'C')" id="defaultOpen"><strong>C</strong></button>
                <button class="tablinks" onclick="changeTab(event, 'Java')"><strong>Java</strong></button>
                <button class="tablinks" onclick="changeTab(event, 'Python')"><strong>Python</strong></button>
            </div>
              
            {% include 'tabcontent.html' %}
            
        </div>
    </div>
    
    <div class="d-flex justify-content-center"><img class="masthead-avatar mb-1" src="{% static 'img/underc.png' %}" alt="Construction" style="position:relative; width:10%; height: 10%;"/></div>
    <h2 class="mx-auto my-0 text-uppercase text-white text-center"><Strong>Under Construction: Display Projects In A Fun Way</Strong></h2>

</header>

<section class="about-section projects-section bg-light" id="projects">
<!-- Display Projects section, unfinished.
    <div class="container px-4 px-lg-5">
        Featured Project Row
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static '/theme/assets/img/bg-masthead.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Empty</h4>
                    <p class="text-white-50 mb-0">Description</p>
                </div>
            </div>
        </div>
        --Project One Row--
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static '/theme/assets/img/demo-image-01.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Empty</h4>
                            <p class="mb-0 text-white-50">Description</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -- Project Two Row--
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static '/theme/assets/img/demo-image-02.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Empty</h4>
                            <p class="mb-0 text-white-50">Description</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</section> 
{% endblock %}
