<div id="C" class="tabcontent" style="overflow-y:auto">
   <h3>Projects Developed in C</h3>

   <h4>Simulated War Card Game</h4>
   <p>This program simulates 5 rounds of the war card game. 
      Each round a sorted deck of 52 cards gets randomly distributed 
      to two decks and they are simulated playing the war card game to 
      determine the winner. Tracks the wins of each player out of the 
      5 games and declares who is the winner overall.</p>

   <h4>Randomly Generated Madlibs Story</h4>
   <p>Using dynamic memory and imported text files for different categories 
      of words (nouns, verbs, etc.) this program generates sentences and 
      puts them into a short, very random story.</p>

   <h4>Simulated Dog Racing</h4>
   <p>Menu-driven program that simulates a dog race of 9 dogs, up to 100 games – user’s choice. 
      They can choose to gamble, display the races' results, or exit the “racetrack”. 
      Choosing Gamble will display a list of all the dogs with their odds of winning and a bet multiplier 
      if they win. User will choose a dog from the list and insert their bet. The race will 
      start and a winner is chosen with a random generator. 
      Then announces if the user won or lost and their winnings (<em>or losings</em>).</p>

   <h4>Finding Ink Blobs on a Picture</h4>
   <p>With a randomly generated matrix of a user-defined size of 0’s and 1’s, this program goes through the 
      matrix adding up all connected 1’s with all that being considered one blob and finds all the blobs on 
      the picture.</p>
   
</div>

<div id="Java" class="tabcontent" style="overflow-y:auto">
   <h3>Projects Developed in Java</h3>

   <h4>Currency Converter Android Mobile App</h4>
   <p>A mobile android app that converts USD to YEN, CAD, EUR, and few other currencies with an added 
      feature of pressing a button to display a table of common payments (such as groceries, gas, or rent) 
      translated into the currencies.</p>

   <h4>Employee Database using SQL</h4>
   <p>A program designed to add an employee to a simple table with their first name, last name, and 
      employee ID stored in a MySQL database </p>

   <h4>List of Favorite and New Restaurants with a simple GUI system</h4>
   <p>Able to choose between two separate lists of favorite or new restaurants, add or remove from each list, along with a button to randomly 
      choose a restaurant from the selected list with a simple integrated GUI system.</p>

</div>
  
<div id="Python" class="tabcontent" style="overflow-y:auto">
   <h3 style>Projects Developed in Python</h3>

   <h4>This Website</h4>
   <p>To startup learning python, I decided to create this website to learn multiple skills. These include the surface level of python, 
      and the structure of HTML and CSS with a splash of Javascript.</p>
    
   <h4>More to come...</h4>
   <p>I am in the process of developing more projects in python to further my knowledge in AI Development and more.</p>

</div> 